*{
    margin : 0;
    padding : 0;
    box-sizing: border-box; 

}
/*shared-styles*/
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

hr{
    border: 0.5px solid #412567;   
    opacity: 50%;
}




header {
    background-color: #1A0B2E;
    width: 100%;
    position: static;  
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar{
    max-width: 1600px;
    height: 92px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    /* padding: 3vw 5vw; */
    /* padding: 30px 200px 30px 200px; */
    
}

.inter {
    color: aliceblue;
    /* padding: 30px 200px 30px 200px;  */
}

.inter h1 {
    font-weight: 800;
    color: #ffffff;
    
    white-space: nowrap;
    -webkit-text-stroke: 100% #000000;
    color: white;
}

.inter h1 span {
    background: linear-gradient(0deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 100% #000000;
    display: inline-block;
    text-wrap: nowrap;
}

.menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-self: center;
    gap: 32px;
   
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    /* font-size: 16px; */
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    padding: 10px;
   
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 24px 200px 24px 200px; */
}

.button button {
    background: linear-gradient(88deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    /* padding: 12.5px 40px 12.5px 40px; */
    padding: 12px 16px 12px 16px; 
    gap: 4px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: auto;
}
.button button img {
    width: 20px;
    height: 18px; 
    white-space: nowrap;
    /* max-width: 100%; */
    /* height: auto; */
    object-fit: contain;
    flex-shrink: 0;
}


 #hero {
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;

    padding-top: 10vh;  /* Adjust padding to scale with viewport height */
    padding-bottom: 15vh;

    /* padding-top: 110px;
    padding-bottom: 300px; */

    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-items: center;
    position: relative;
}
.hero-banner {
    /* display: flex;
    flex-direction: column;
    gap: 24px; 
    padding: 70px 120px 134px 120px;
    box-sizing: border-box; */
}

.hero-circle {
    position: absolute;

    background-image: url(./assets/hero-circle.png);
    width: 20vw;  /* Adjusted to be relative to viewport width */
    height: 20vw; /* Adjusted to be relative to viewport width */
    background-size: cover;
    /* width: 350px;
    height: 350px;
    background-size: 100% 100%; */ /* problem section*/
    background-repeat: no-repeat;

    top: 40%;
    left: 54%;
    /* left: calc(45% + 110px);  ← move right (adjust 55–65%) */
    transform: translate(-50%, -50%);
}

.hero-mic {
    position: absolute;
    background-image: url(./assets/microphone.png);
    width: 10vw;
    height: 10vw;
    background-size: contain;
    background-repeat: no-repeat;
    top: 38%;
    left: 55.5%;
    transform: translate(-50%, -50%) !important;
    z-index: 10; /* Ensure the microphone is above the circle */
    
}

